<!-- 
<div class="col">
	<div class="card h-100 border-primary">
		
			<img class="card-img-top img-fluid" src="assets/img/teaser/{{ post.teaser }}" alt="Title Image">
			<p class="card-text text-center">{{ post.title }}</p>

			<a href="{{ post.url }}" class="preview-overlay a-link stretched-link preview-img" title="{{ post.title }}"></a>


	</div>
</div> -->

<div class="preview">
	<img class="preview-image" src="assets/img/teaser/{{ post.teaser }}" alt="Post preview image">
	<div class="preview-overlay">
		<div class="preview-title">{{ post.title }}</div>
		<p class="preview-description">This is a sample description pls ignore.</p>
	</div>
</div>