---
layout: wrapper
---

<div class="container text-center">
  {% include bio.html %}
</div>


<div class="container portfolio">
  <div class="row ">
    <div class="col-10">
      <h1>Latest <span class="gradient">Works</span></h1>
      <p>This portfolio is full of <span class="gradient">amazing</span> stuff. It covers the wide range of languages and libraries I got my hands on.</p>
    </div>
    <div class="col-2">
      <div style="text-align: right;"><a href="/portfolio/" class="a-link">View all →</a></div>
    </div>
    {% include showcase.html %}
  </div>
</div>
